.stage{
  background:#859CD0;
  flex-wrap:wrap;
  padding:10vw;
  height:100vh;
  overflow:auto;
  align-items:flex-start;
  box-sizing:border-box;
}

.clear-stage-button{
  position:fixed;
  width: 8vw;
  height:3vw;
  right:1vw;
  bottom:1vw;
  overflow:hidden;
  padding:0;
  margin:0;
  border:0;
  border-radius:2vw;
  background:#333;
  color:#fff;
  text-transform:uppercase;
  font-size:1.5vw;
  letter-spacing:.05em;
  cursor:pointer;
  
}

.coin{
  width:3.75vw;
  height:3.5vw;
  background:#EB9F22;
  display:block;
  animation: coin-animation 300ms linear;
  position:absolute;
  bottom:100%;
  left:50%;
  margin:1.25vw 0;
  margin-left:-2vw;
  box-sizing:border-box;
}

.coin:before{
  content:'';
  display:block;
  position:absolute;
  top:-1.25vw;
  bottom:-1.25vw;
  right:20%;
  width:60%;
  background:#EB9F22;  
}

.coin:after{
  content:'';
  display:block;
  position:absolute;
  top:-.75vw;
  bottom:-.75vw;
  right:10%;
  width:80%;
  background:#EB9F22;
  box-shadow:
    inset -.5vw -.5vw 0 #EB9F22,    
    inset .5vw .5vw 0 #EB9F22,    
    inset -1vw -1vw 0 #000,
    inset 1vw 1vw 0 #984F22
}

.block{
  font-size:4vw;
  font-family:"Press Start 2P", sans-serif;
  text-shadow: .5vw .5vw #000;  
  width:10vw;
  height:10vw;
  display:inline-block;
  justify-content:center;  
  line-height:10vw;
  vertical-align:middle;
  margin:0;
  padding:0;
  text-align:center;
  position:relative;
  cursor:pointer;
}

.block.mystery-block{
  color:#984F22;
  animation: infinite mystery-block-animation 300ms linear;
  animation-direction: alternate;
  background:
    no-repeat left 1vw top 1vw / .5vw .5vw linear-gradient(to right, #000, #000),
    no-repeat right 1vw top 1vw / .5vw .5vw linear-gradient(to left, #000, #000),
    no-repeat right 1vw bottom 1vw / .5vw .5vw linear-gradient(to left, #000, #000),
    no-repeat left 1vw bottom 1vw / .5vw .5vw linear-gradient(to right, #000, #000);
  background-color:#EA9E32;
  box-shadow: 
    inset .5vw .5vw #984F22,
    inset -0.5vw -0.5vw #000;
}

.block.spent-block{
  color:#54200D;
  background:
    no-repeat left 1vw top 1vw / .5vw .5vw linear-gradient(to right, #000, #000),
    no-repeat right 1vw top 1vw / .5vw .5vw linear-gradient(to left, #000, #000),
    no-repeat right 1vw bottom 1vw / .5vw .5vw linear-gradient(to left, #000, #000),
    no-repeat left 1vw bottom 1vw / .5vw .5vw linear-gradient(to right, #000, #000);
  background-color:#54200D;
  box-shadow: 
    inset .5vw .5vw #000,
    inset -0.5vw -0.5vw #000;
}

.block.brick-block{
  background: 
    no-repeat left 2.25vw top 0 / .5vw 10vw linear-gradient( 
      to bottom, 
      rgba(0,0,0,0), 
      rgba(0,0,0,0) 2.5vw, 
      #000 2.5vw, 
      #000 4.5vw,
      rgba(0,0,0,0) 4.5vw,
      rgba(0,0,0,0) 7vw, 
      #000 7vw 
    ),
    no-repeat right 2.25vw top 0 / .5vw 10vw linear-gradient( 
      to bottom, 
      rgba(0,0,0,0), 
      rgba(0,0,0,0) 2.5vw, 
      #000 2.5vw, 
      #000 4.5vw,
      rgba(0,0,0,0) 4.5vw,
      rgba(0,0,0,0) 7vw, 
      #000 7vw 
    ),    
    no-repeat right 0 top 0 / .5vw 10vw linear-gradient( 
      to bottom, 
      #000, 
      #000 2.5vw, 
      rgba(0,0,0,0) 2.5vw, 
      rgba(0,0,0,0) 4.5vw,
      #000 4.5vw,
      #000 7vw, 
      rgba(0,0,0,0) 7vw 
    ),  
    no-repeat right 5vw top 0 / .5vw 10vw linear-gradient( 
      to bottom, 
      #000, 
      #000 2.5vw, 
      rgba(0,0,0,0) 2.5vw, 
      rgba(0,0,0,0) 4.5vw,
      #000 4.5vw,
      #000 7vw, 
      rgba(0,0,0,0) 7vw 
    ),      
    repeating-linear-gradient( 
      to bottom, 
      #984F22, 
      #984F22 2vw, 
      #000 2vw, 
      #000 2.5vw);
  box-shadow: 
    inset 0 .5vw #FACCC6,
    inset 0 -.5vw #000;
}

@keyframes mystery-block-animation{
  0%, 49%{
    background-color: #EA9E32;  
  }
  50%,74%{
    background-color: #984F22;
  }
  75%, 100%{
    background-color: #54200D;
  }
}

@keyframes coin-animation{
  0%{
    transform: translateY(0) rotateY(0);
    opacity:1;
  }
  50%{
    transform: translateY(-200%) rotateY(90deg);
    opacity:1;
  }
  100%{
    transform: translateY(-25%);
    opacity:0;
  }
}